body {
  overflow: hidden;
}

#header {
  margin: auto;
  font-family: Nova Cut, Times New Roman;
  font-style: italic;
  text-align: center;
  font-size: 3.2em;
  padding-top: 65px;
  padding-bottom: 15px;
  color: black;
}

#container {
  font-family: Helvetica;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  width: 56%;
  border: 1px black solid;
  background-color: blue;
  letter-spacing: 1.5px;
}

#location {
  font-size: 1.7em;
  color: white;
}

#temp {
  font-size: 1.7em;
  color: white;
}

#conditions {
  font-size: 1.7em;
  color: white;
}

button {
  color: white;
  border: white solid 1px;
  border-radius: 30%;
  background-color: blue;
  width: 50px;
  transition: background .1s ease-in-out;
}

button:hover {
  background-color: white;
  color: black;
}

